@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.work-sans {
  font-family: "Work Sans", sans-serif;
}
/* font-family: "Work Sans", sans-serif; */
* {
  margin: 0;
  padding: 0;
}
#hero {
  height: 919px;
  background-image: linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .hero-content {
  width: 685px;
}
#hero .hero-content .subtitle {
  color: rgb(255, 255, 255);
  /* font-family: Work Sans; */
  font-size: 20px;
  font-weight: 600;
  line-height: 38px;
  /* letter-spacing: 0%; */
  text-align: center;
  opacity: 0.8;
  gap: 20px;
}
#hero .hero-content .title {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  line-height: 50px;
}
#hero .hero-content .content {
  color: rgb(255, 255, 255);
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  opacity: 0.7;
}
.btn-container {
  text-align: center;
  margin: 20px;
}
.btn {
  border-radius: 8px;
  background: rgb(82, 195, 3);
  padding: 14px 18px 14px 18px;
  font-size: 12px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  border: none;
  text-align: center;
  line-height: 16px;
}

/* card section */
#card-box {
  height: 884px;
  margin: 100px auto;
}
/* .container {
  display: flex;
} */
#card-box .info {
}

#card-box .subtitle {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.6;
}
#card-box .title {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  /* margin-bottom: 20px; */
}
#card-box .card-container {
  margin-top: 30px;
}
.cards {
  max-width: 250px;
}
.cards .img-box {
  width: 250px;
}
.cards .img-box img {
  width: 100%;
}
